*.ipr
atlassian-ide-plugin.xml
*.iml
*.iws
target
.classpath
.project
.settings
build
.idea
.java-version
maven-scm-providers/maven-scm-providers-cvs/maven-scm-provider-cvsexe/src/test/repository/CVSROOT/history
maven-scm-providers/maven-scm-providers-cvs/maven-scm-provider-cvsjava/src/test/repository/CVSROOT/history
